# Boolean Indexing in Pandas
#### To select we uses actual data but not with labels and indexes
* Accessing a DataFrame with a boolean index
* Applying a boolean mask to a dataframe
* Masking data based on column value
* Masking data based on index value

In [19]:
import pandas as pd
dict1={'Rollnum':[1,2,3,4,5,6,7,8,9,10],
       'Marks':[25,24,23,22,21,24,22,23,20,25],
       'Course':['MBA','MBBS','BTECH','MTECH','DEGREE','IAS','IPS','AERO','CSE','ECE'],
       'Address':['HYD','AKP','VZI','VSK','GNT','ASD','FGH','KLJ','OPU','RTY'],
       'Phonenum':['a1','a2','a3','a4','a5','a6','a7','a8','a9','b1']}
d1=pd.DataFrame(dict1)
#print(d4[['Course','Marks']])#calling those columns
colors=['Red','Pink','Yellow','Green','Black','Blue','Orange','Skyblue','White','Grey']
d1['Color']=colors
print('\n',d1)

    Rollnum  Marks  Course Address Phonenum    Color
0        1     25     MBA     HYD       a1      Red
1        2     24    MBBS     AKP       a2     Pink
2        3     23   BTECH     VZI       a3   Yellow
3        4     22   MTECH     VSK       a4    Green
4        5     21  DEGREE     GNT       a5    Black
5        6     24     IAS     ASD       a6     Blue
6        7     22     IPS     FGH       a7   Orange
7        8     23    AERO     KLJ       a8  Skyblue
8        9     20     CSE     OPU       a9    White
9       10     25     ECE     RTY       b1     Grey

### Accessing a DataFrame with a boolean index

In [18]:
dict2 = {'name':["aparna", "pankaj", "sudhir", "Geeku"], 
        'degree': ["MBA", "BCA", "M.Tech", "MBA"], 
        'score':[90, 40, 80, 98]} 
   
d2 = pd.DataFrame(dict2, index = [True, False, True, False]) 
   
print(d2)

         name  degree  score
True   aparna     MBA     90
False  pankaj     BCA     40
True   sudhir  M.Tech     80
False   Geeku     MBA     98

In [45]:
# acessing data with boolean loc[]
print(d2.loc[True])
# acessing data with .iloc[] is normal
print('\n',d2.iloc[1])
# accessing data with .ix[] with boolean value
print('\n',d2.ix[False])

        name  degree  score
True  aparna     MBA     90
True  sudhir  M.Tech     80

 name      pankaj
degree       BCA
score         40
dtype: object

          name degree  score
False  pankaj    BCA     40
False   Geeku    MBA     98

C:\Users\RAPETI\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

## Appying a boolean mask to a DF

In [11]:
print(d2[[True, False, True, False]])

        name  degree  score
True  aparna     MBA     90
True  sudhir  M.Tech     80

In [24]:
d1=pd.DataFrame(dict1,index=[0,1,2,3,4,5,6,7,8,9])
d1
d1[[True, False, True, False, True, 
    False, True, False, True, False]]#we get only True values

   Rollnum  Marks  Course Address Phonenum
0        1     25     MBA     HYD       a1
2        3     23   BTECH     VZI       a3
4        5     21  DEGREE     GNT       a5
6        7     22     IPS     FGH       a7
8        9     20     CSE     OPU       a9

### Masking data based on column value

In [47]:
print(d1['Course']=='MBA')
print(d1['Marks']==25)

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: Course, dtype: bool
0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9     True
Name: Marks, dtype: bool

In [35]:
d1['Marks']>20

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8    False
9     True
Name: Marks, dtype: bool

### Masking data based on index value

In [41]:
m=d1.index==8
print(d1[m])
print(m)

   Rollnum  Marks Course Address Phonenum
8        9     20    CSE     OPU       a9
[False False False False False False False False  True False]

In [44]:
m1=d1.index >6
print(d1[m1])

   Rollnum  Marks Course Address Phonenum
7        8     23   AERO     KLJ       a8
8        9     20    CSE     OPU       a9
9       10     25    ECE     RTY       b1

# Conversion Functions in Pandas DataFrame